<!DOCTYPE html>
<html data-ng-app="">
  <head>
    <meta charset="utf-8">
    <title>using AngularJS Directives and Data Binding</title>
  </head>
  <body>
    <div class="container" data-ng-init="customers=[{name: 'John Smith', city: 'Phoenix'},{name: 'Terery Weirheim', city: 'Atlanta'},{name: 'Sherome Brown', city: 'Montreal'},{name: 'John Woo', city: 'Hong Kong'}]">
        Name:
        <br />
        <input type="text" data-ng-model="name" />
        <br />
        <ul>
            <li data-ng-repeat="cust in customers | filter:name">{{cust.name}} - {{cust.city}}</li>
        </ul>
    </div>


    <script src="scripts/angular.min.js"></script>
  </body>
</html>
